<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395034668223-k53hvn757dl6tfgoeeudklv571g7b1qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395034668223-k53hvn757dl6tfgoeeudklv571g7b1qv</string>
	<key>API_KEY</key>
	<string>AIzaSyD8JBf3KWp2Ke9FusBDkUWnuutvkKqZpv4</string>
	<key>GCM_SENDER_ID</key>
	<string>395034668223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearning2</string>
	<key>PROJECT_ID</key>
	<string>flutterlearning-68ada</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlearning-68ada.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395034668223:ios:e6ef2e79996d1dd7cc2a0a</string>
</dict>
</plist>